@font-face{
    font-family: "Montserrat-black";
    src: url(../fonts/Montserrat-Black.ttf);
}
@font-face{
    font-family: "Montserrat-Extrabold";
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}
@font-face{
    font-family: "Montserrat-Semibold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}